.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid rgb(230, 205, 173);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
